h3{
  text-align: center;
}
#welcome{
  text-align: center;
  font-style: italic;
  padding: 25px 150px;
  font-size: 1.25em;
}
h4{
  font-size: 1.25em;
  text-transform: uppercase;
}
.about{
  padding:0px 15%;
  text-align: left;
  background-color: white;
  color:#222222;
}
.org{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.org img{
  height: 100%;
  width: 100px;
  padding: 25px 25px 0px 0px;
}
.club > p:first-child{
  font-size: 1.25em;
}
.boards, .organizations{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 25px 0px 50px;
}
.boards p{
  padding: 0px;
  font-style: normal;
  text-align: center;
}
.board{
  margin: 0px 75px 0px 0px;
  width: 50%;
}
.board > p:first-child{
  font-family: lores-12-narrow, sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #7936e1;
  padding-bottom: 10px;
}
.bold{
  font-weight: 400;
  margin: 3px 0px 0px 0px;
}
.nuwfa > p:first-child{
  color: #FC2954;
}
.multi > p:first-child{
  color: #197693;
}
.fundraiser > p{
  text-align: center;
  font-size: 1.25em;
  font-style: italic;
}
.fundraiser{
  background-color: #222222;
  color:white;
  border: 10px solid #75ffeb;
  padding: 50px;
}
.organization{
  padding: 0px 25px 0px 0px;
  text-align: center;
}
.organization > p:first-child{
  font-weight: 800;
  font-style: italic;
  font-size: 1.15em;
  text-align: center;
}
.organization a{
  color: #75ffeb
}
.organization a:hover{
  color: white;
}
.organization img{
  width: 100%;
  align-content: center;
}
#YEPP{
  width: 35%;
}
.PNAP{
  padding-top: 78px;
}
footer{
  background-color: #222222;
}
@media screen and (max-width: 900px) {
  .about{
    padding:0px 10%;
  }
  #welcome{
      padding: 25px 10px;
  }
  #YEPP{
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .about{
    padding:0px 5%;
  }
  #welcome{
      padding: 25px 0px;
  }
  h4{
    text-align: center;
  }
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .org{
    display: block;
  }
  .organizations{
    display: block;
    padding: 25px 0px;
  }
  .org img{
    height: 100%;
    width: 100px;
    padding: 0px;
    display: flex;
    justify-content: center;
  }
  .boards{
    padding: 15px 0px;
  }
  .boards p{
    text-align: left;
  }
  .board{
    margin: 15px 0px;
    width: 100%;
  }
  .organization{
    padding: 15px;
    text-align: left;
  }
  .fundraiser{
    padding: 25px;
  }
}
@media screen and (max-width: 500px) {
  .boards{
    display:block;
    padding: 15px 0px;
  }
  .board p{
    text-align: center;
  }

  }
}
