.about{
  padding:0px 15%;
  text-align: center;
  background-color: white;
  color:#222222;
}
#welcome{
  text-align: center;
  font-style: italic;
  padding: 25px 150px;
  font-size: 1.25em;
}
.org img{
  width: 75%;
  padding: 25px 0px 0px;
}
h4{
  font-size: 1.75em;
  text-transform: uppercase;
  font-style: italic;
}
.club > p:first-child{
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  color: #7936e1;
  padding-bottom: 10px;
}
.club{
  padding: 50px 0px;
}
p{
  padding: 0px;
  font-size: 1.1em;
}

.log{
  font-style: italic;
  padding: 25px 20%;
}
.statement p{
  text-align: left;
  padding: 5px 0px;
}
.right{
  float: right;
  margin: 0px 0px 100px;
}
.thanks{
  color: white;
  background-color:#7936e1;
  padding: 0px 0px 100px;
}
