/* #ffffff white
#f7cf3e yellow black
#67e077 green purple
#8ce0ff blue
#f57da7 pink teal */

body{
  font-family: nobel, sans-serif;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  padding: auto;
  border: 20px solid #75ffeb;
  background-color: #222222;
  color: white;
  text-align: center;
}
.heading{
  display: inline;
}
header a{
  text-decoration: none;
  color: inherit;
}
.h0, .h22{
  font-size: 3em;
  font-family: nobel, sans-serif;
  font-weight: 800;
  font-style: normal;
  padding:0;
  display: inline;
  color: white;
}
.h1{
  display: inline;
}
.h22{
  color: #7936e1;
}
h1{
  font-size: 3em;
  color: #75ffeb;
  display: inline;
}
h2{
  font-size: 2em;
  display: inline;
}
.thanks{
  font-family: lores-12-narrow, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
  text-transform: uppercase;
  color: #7936e1;
  padding: 25px;
  animation-name: flash;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes flash {
  0%   {color:#7936e1}
  33%  {color:white}
  66%  {color:#75ffeb}
  100% {color:#7936e1}
}
.congrats{
  border: 8px solid #7936e1;
  background-color:#75ffeb;
  color: #222222;
  margin: 0px 250px;
}
h4{
  font-style: italic;
  text-transform: uppercase;
  font-weight: 800;
  color: #7936e1;
}
.logo img{
  width: 75px;
  display: inline;
}
.logo{
  margin: 25px;
  font-family: lores-12-narrow, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav li{
  display: inline;
  padding: 0 10px;
}
.filmtitle{
  font-style: italic;
}
nav a{
  text-decoration: none;
  color: #888888;
}
.countdown > p{
  color: #7936e1;
  margin: 0px 0px 20px;
  font-style: italic;
}
.countdown{
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 25px;
  margin: 50px auto 0px;
  border: 3px solid #7936e1;
  font-family: lores-12-narrow, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:1.5em;
}
.count p{
  margin: 0px 20px;
}
.counter{
  display: flex;
  flex-direction: row;
}
.number{
  font-size: 1.5em;
  color: white;
}
.unit{
  font-size: 0.75em;
  font-style: normal;
  color: #7936e1;
}
.film{
  padding: 75px 20%;
}
.film iframe{
  border: 5px solid #75ffeb;
}
.braff{
  padding: 50px 20%;
  font-size: 2em;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 800;
  color: #7936e1;
}
.braff iframe{
  border: 5px solid #7936e1;
}
.zach{
  font-size: 0.75em;
  font-style: italic;
  text-transform: capitalize;
  font-weight: 100;
  color: white;
}
#trailer{
  font-size: 1.5em;
  font-style: italic;
  text-transform: capitalize;
  font-weight: 100;
  color: white;
}

.nextFilm{
  padding: 150px 0px 0px;
}
.nextFilm a{
  text-decoration: none;
  font-size: 2em;
  font-family: lores-12-narrow, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: white;
  padding: 25px 75px;
  background-color: #222222;
  border: 8px solid #75ffeb;
}
.nextFilm a:hover{
  color: #75ffeb;
}

footer{
  padding: 25px 0;
  margin:0px;
  font-size: .75em;
}
.socials i, footer a{
  font-size: 1.25em;
  margin: 15px 3px;
  color: #888888;
  text-decoration: none;
}
.socials i:hover, a:hover{
  color: #dddddd;
}

.copyright{
  color: #888888;
}
/* Dropdown Button */
.dropbtn {
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  padding: 10px 10px 0px;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: #888888;
  margin: 0px 10px;
  text-decoration: none;
  display: inline;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: white;}
.filmtitle a:hover{
  color: #75ffeb;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: white;}

ol{
  text-decoration: none;
  font-style: normal;
  padding: 0px;
}
.webdesign{
  color: #888888;
  padding: 20px 0px 0px;
}

/* responsiveness */
@media screen and (max-width: 1100px) {
  .countdown{
    font-size: 1.5em;
    width: 35%;
  }
}
@media screen and (max-width: 900px) {
  .countdown{
    width: 40%;
  }
  .film, .braff{
    padding: 50px 10%;
    margin: 0px;
  }
  .nextFilm{
    padding: 125px 0px 50px;
  }
  .nextFilm a{
    font-size: 2em;
    padding: 25px 5%;
    border: 5px solid #75ffeb;
  }

}
@media screen and (max-width: 800px) {
  .countdown{
    width: 45%;
  }
}
@media screen and (max-width: 700px) {
  .h1{
    display: block;
    font-size: 1.3em;
    padding: 0px 0px 25px;
  }
  .countdown{
    width: 50%;
    margin: 25px auto 0px;
  }
  body{
    border: 10px solid #75ffeb;
  }
  .film, .braff{
    padding: 25px 10%;
    margin: 0px;
  }
@media screen and (max-width: 600px) {
  .countdown{
    width: 60%;
  }
  .film, .braff{
    padding: 0px 10%;
  }
  .nextFilm a{
    font-size: 1.5em;
    padding: 25px 5%;
  }
@media screen and (max-width: 500px) {
  .countdown{
    font-size: 1.5em;
  }
  .count p{
    margin: 5px 0px;
  }
  .counter{
    display: block;
  }
  .film, .braff{
    padding: 25px 8%;
  }
  .film iframe{
    border: 5px solid #75ffeb;
  }
  .nextFilm a{
    font-size: 1.25em;
    padding: 25px 5%;
  }
  .zach{
    font-size: 0.6em;
  }
  #trailer{
    font-size: 1.25em;
  }
}
@media screen and (max-width: 400px) {
  .nextFilm a{
    font-size: 1em;
    padding: 25px 5%;
  }
}
@media screen and (max-width: 350px) {
  .h1{
    font-size: 1em;
  }
}
